<div
      infiniteScroll
      [infiniteScrollDistance]="0.01"
      [infiniteScrollThrottle]="1000"
      (scrolled)="commonService.onScroll()"
      style="text-align: center; overflow-y: auto; margin-bottom: 100px">
  <table style="margin: 0 auto" *ngFor="let song of commonService.songArray" class="mat-elevation-z8">

    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Time</th>
    </tr>
      <tr>
        <td> {{song.id}} </td>
        <td style="width: 500px; text-align: center"> {{song.songName}} </td>
        <td> {{song.time}} </td>
      </tr>

  </table>
</div>
<div *ngIf="commonService.flagSpinner" class="spinner">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
